<%- include('./partials/header') %>

<p id="description">Welcome to Tulsa Restaurant Reviews! This site is designed to help hospitality workers rate their places of work within the Tulsa area, as well as help the public to see which eateries have the best food. Log in to begin.</p>
<div id="home">
  <form action="">
    <input type="text" placeholder="Find a Restaurant...">
    <button id="search" >Search</button>
  </form>
</div>

<%- include('./partials/footer') %>