body {
  height: 100vh;
  width: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://media.vanityfair.com/photos/586ff60d6cbc6a28245ef9a6/master/w_2560%2Cc_limit/union-square-cafe-danny-meyers.jpg');
}

a:hover {
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  margin: 5px;
}

a {
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 6px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  margin: 5px;
}

nav {
  background: #00B7FF;
  width: 100vmin;
  padding: 3vmin;
  border-radius: 10px;
}

body {
  color: white;
  background-color: gray;
}

.background {
  background: light grey;
  opacity: .5;
}

.button:hover {
  background-color: #00B7FF;
  border-radius: 10px;
  padding: 4px;
  border-color: blue;
  border-style: solid;
  text-decoration: none;
}

.button {
  background-color: #00B7FF;
  border-radius: 10px;
  padding: 5px;
  border-color: blue;
  border-style: solid;
  text-decoration: none;
}