body {
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://media.vanityfair.com/photos/586ff60d6cbc6a28245ef9a6/master/w_2560%2Cc_limit/union-square-cafe-danny-meyers.jpg');
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr;
}

a:hover {
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 5px;
  border-radius: 10px 0 10px 0;
  border-style: solid;
  border-color: black;
  margin: 5px;
}

a {
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 6px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  margin: 5px;
}

a.active {
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 5px;
  border-radius: 10px 0 10px 0;
  border-style: solid;
  border-color: black;
  margin: 5px;
}

nav {
  background: #00B7FF;
  border-radius: 10px;
  display: flex;
  grid-column: 1 / span 5;
  grid-row: 1 / span 1;
}

body {
  color: white;
  background-color: gray;
}

.background {
  background: light grey;
  opacity: .5;
}

.button:hover {
  background-color: #00B7FF;
  border-radius: 10px;
  padding: 4px;
  border-color: blue;
  border-style: solid;
  text-decoration: none;
}

.button {
  background-color: #00B7FF;
  border-radius: 10px;
  padding: 5px;
  border-color: blue;
  border-style: solid;
  text-decoration: none;
}

.login {
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 6px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  margin: 5px;
}

.login img {
  height: 20px;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

h1 {
  color: black;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  text-align: center;
  padding: 15px 15px 15px 15px;
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

#home {
  margin: 50px 0 0 200px;
  grid-column: 2 / span 3;
  grid-row: 4 / span 1;
}

#search {
  background-color: #00B7FF;
  border-radius: 10px;
  padding: 5px;
  border-color: blue;
  border-style: solid;
  color: aliceblue;
  text-decoration: none;
}

#search:hover {
  background-color: #00B7FF;
  border-radius: 10px;
  padding: 7px;
  border-color: blue;
  border-style: solid;
  color: aliceblue;
  text-decoration: none;
}

#description {
  color: black;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  grid-column: 2 / span 3;
  grid-row: 3 / span 1;
}

#all {
  color: black;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  grid-column: 2 / span 3;
  grid-row: 3 / span 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#all > table {
  width: 90%;
  height: 90%;
}

#all > table, tr, th {
  border-bottom: 2px solid #00B7FF;
}


#add {
  color: black;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  grid-column: 1 / span 5;
  grid-row: 3 / span 1;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

#details {
  color: black;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  grid-column: 1 / span 5;
  grid-row: 3 / span 4;
}

#basics {
  display: flex;
  justify-content: center;
  text-align: center;
}

#big {
  font-size: 22px;
}

#rate {
  display: flex;
  justify-content: center;
  margin: 25px 0 25px 25px;
}

#review {
  display: flex;
  justify-content: center;
  margin: 25px 25px 0 0;
}

#ratings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

#rating-table {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr;
}

#review-table {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr;
}

#add-restaurant {
  background-color: #00B7FF;
  border-radius: 10px;
  padding: 5px;
  border-color: blue;
  border-style: solid;
  color: aliceblue;
  text-decoration: none;
  margin: 10px;
}

#add-restaurant:hover {
  background-color: #00B7FF;
  border-radius: 10px;
  padding: 7px;
  border-color: blue;
  border-style: solid;
  color: aliceblue;
  text-decoration: none;
  margin: 10px;
}

.delete {
  background-color: #00B7FF;
  border-radius: 10px;
  padding: 5px;
  border-color: blue;
  border-style: solid;
  color: aliceblue;
}

.delete:hover {
  background-color: blue;
  border-radius: 10px;
  padding: 5px;
  border-color: #00B7FF;
  border-style: solid;
  color: aliceblue;
}

.add-ratings {
  background-color: #00B7FF;
  border-radius: 10px;
  padding: 5px;
  border-color: blue;
  border-style: solid;
  color: aliceblue;
}

.add-ratings:hover {
  background-color: blue;
  border-radius: 10px;
  padding: 5px;
  border-color: #00B7FF;
  border-style: solid;
  color: aliceblue;
}

textarea {
  width: 100px;
}